* {
    box-sizing: border-box;
}

body {
    background-color: #575757;
    transition: all 0.3s ease-in-out;
}


a {
    text-decoration: none;
}

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(132, 142, 150);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 200;

}


.home-header > a {
    font-size: 22px;
    color: aliceblue;
    padding-left: 10px;
}

.home-header ul {
    display: flex;
    transition: all 0.4s ease-in-out;
}

.home-header ul li {
    list-style: none;
    margin: 5px;
}

.home-header ul li a {
    text-decoration: none;
    padding: 5px;
    position: relative;
    color: azure;
    font-size: 19px;
    font-weight: 700;
}

.home-header ul li a:hover {
    color: aliceblue;
}

.home-header ul li a::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    bottom: -5px;
    left: 50%;
    background-color: rgb(44, 58, 72);
    transition: all 0.4s ease-in-out;
}

.home-header ul li a:hover::after {
    width: 100%;
    left: 0;
    background-color: rgb(255, 255, 255);
}

.home-header ul li a::before {
    content: '';
    width: 0;
    height: 0;
    background-color: black;
    position: absolute;
    left: 0;
    z-index: -1;
    transition: all 0.4s ease-in-out;
}

.home-header ul li a:hover::before {
    width: 100%;
    height: 100%;
}


footer {
    background-color: rgb(49, 45, 45);
    padding: 10px;
    min-height: 50vh;
    color: aliceblue;
}

.contact {
    background-color: whitesmoke;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    color: black;
}

.contact-info > a {
    font-size: 30px;
    background-color: rgb(132, 142, 150);
    padding: 5px;
    border-radius: 5px;
    color: aliceblue;
}

/* .input-container {
    background-color: blue;
} */

.input-container input {
    border-radius: 4px;
    border: none;
    width: 400px;
    font-size: 18px;
    padding: 10px;
    outline: none;
    box-shadow: 1px 1px 3px rgb(70, 68, 68),-1px -1px 3px black;
}

.input-container button {
    border: none;
    padding: 10px;
    background-color: black;
    color: aliceblue;
}

.input-container button:hover {
    background-color: aliceblue;
    color: black;
    font-weight: bold;
}


.links-footer {
    padding: 40px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.other-links {
    display: flex;
    flex-wrap: wrap;
}

.left-links {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.right-links {
    display: flex;
    flex-direction: column;
    margin: 5px;
    flex-wrap: wrap;
}

.buttons-app {
    display: flex;
    flex-wrap: wrap;
}

.buttons-app a {
    background-color: aliceblue;
    padding: 5px;
}

.buttons-app img {
    width: 100px;
}

.visa img {
    width: 100px;
}

.rating-div .star {
    width: 20px;
    margin: 5px;
}

.open-menu {
    display: none;
}

.close-menu {
    cursor: pointer;
    display: none;
}

@media (max-width:500px){
    .home-header ul {
        background-color: rgb(77, 78, 78);
        flex-wrap: wrap;
        flex-direction: column;
        position: fixed;
        top: 1px;
        right: -200px;
        height: 100vh;
        padding-right: 5px;
        align-items: center;
    }

    
.home-header ul li a::before {
    background-color: rgb(156, 156, 156);
}
.home-header ul li a::after {
    background-color: whitesmoke;
}

    .open-menu {
        display: block;
        cursor: pointer;
    }

    .close-menu {
        display: block;
    }

    .input-container input {
        width: 200px;
    }

}

.banner-1 {
    text-align: center;
}

.banner-img-container {
    height: 30vh;
    background: url('https://www.insperity.com/wp-content/uploads/Flu_1200x630.png') no-repeat;
    background-position: center;
    background-size: cover;
    color: aliceblue;
}


.new-products-section {
    display: flex;
    flex-direction: column;
    transition: all 0.7s ease-in-out;
    align-items: center;
    padding-top: 50px;
}

.new-products {
    transition: all 0.7s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.product-container {
    box-shadow: 2px 2px 3px lightgray,-2px -2px 3px lightgray;
    padding: 30px;
    width: 300px;
    margin: 20px;
    border-radius: 5px;
    background-color: lightblue;
    position: relative;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.product-container:hover {
    box-shadow: 1px 1px 3px rgb(203, 197, 197),-1px -1px 3px rgb(205, 199, 199);
}

.product-container:hover .product.img {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.product-container .product-img {
    width: 80%;
    border-radius: 10px;
}

.product-container button {
    border: none;
}

.priceandcartIcon {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details-btn {
    position: absolute;
    left: 5px;
    top: 1px;
    display: none;
    background-color: black;
    padding: 5px;
    color: aliceblue;
    transition: all 0.2s ease-in-out;
}

.product-container:hover .details-btn {
    display: block;
}

.details-btn:hover {
    background-color: aliceblue;
    color: black;
    
}

.addtocart-btn {
    background-color: black;
    padding: 5px;
    color: aliceblue;
    transition: all 0.2s ease-in-out;
}

.addtocart-btn:hover {
    background-color: aliceblue;
    color: black;
}


// ------------------------ loading animation
.load-anime {
    background-color: black;
    color: aliceblue;
    padding: 5px;
    animation-name: loading;
    animation-duration: 3s;
    animation-iteration-count: 6;
}

@keyframes loading {
    0% {
        transform: scale(1.1) translateX(-50px);
    }
    50% {
        transform: scale(1.5) translateX(50px);
    }
    100% {
        transform: scale(1.1) translateX(-50px);
    }
}

.cartimg {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 40px;
    cursor: pointer;
    z-index: 150;
}


.animecartbtn {
    transition: all 10s ease;
    /* transform: translateX(-250px) translateY(100px); */
    overflow: hidden;
    z-index: 100;
    animation-name: cartbtn;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes cartbtn {
    0% {
        transition: all 0.5s ease;
        transform: translateX(0px) translateY(0px)
    }

    50% {
        transform: translateX(-100px) translateY(38px)
    }

    70% {
        transform: translateX(-250px) translateY(38px)
    }
    
    100% {
        transform: translateX(0px) translateY(0px)
    }
}

.itemincart {
    transform: rotateZ(360deg) translateX(-20px) translateY(30px);
    transition: all 2s ease;
    border-radius: 7px;
}