*{
    box-sizing: border-box;
}

body {
    background-color: rgb(87, 87, 87);
}


a {
    text-decoration: none;
}

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(132, 142, 150);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 200;

}


.home-header > a {
    font-size: 22px;
    color: aliceblue;
    padding-left: 10px;
}

.home-header ul {
    display: flex;
    transition: all 0.4s ease-in-out;
}

.home-header ul li {
    list-style: none;
    margin: 5px;
}

.home-header ul li a {
    text-decoration: none;
    padding: 5px;
    position: relative;
    color: azure;
    font-size: 19px;
    font-weight: 700;
}

.home-header ul li a:hover {
    color: aliceblue;
}

.home-header ul li a::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    bottom: -5px;
    left: 50%;
    background-color: rgb(44, 58, 72);
    transition: all 0.4s ease-in-out;
}

.home-header ul li a:hover::after {
    width: 100%;
    left: 0;
    background-color: rgb(255, 255, 255);
}

.home-header ul li a::before {
    content: '';
    width: 0;
    height: 0;
    background-color: black;
    position: absolute;
    left: 0;
    z-index: -1;
    transition: all 0.4s ease-in-out;
}

.home-header ul li a:hover::before {
    width: 100%;
    height: 100%;
}


footer {
    background-color: rgb(49, 45, 45);
    padding: 10px;
    min-height: 50vh;
    color: aliceblue;
}

.contact {
    background-color: whitesmoke;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    color: black;
}

.contact-info > a {
    font-size: 30px;
    background-color: rgb(132, 142, 150);
    padding: 5px;
    border-radius: 5px;
    color: aliceblue;
}

.input-container input {
    border-radius: 4px;
    border: none;
    width: 400px;
    font-size: 18px;
    padding: 10px;
    outline: none;
    box-shadow: 1px 1px 3px rgb(70, 68, 68),-1px -1px 3px black;
}

.input-container button {
    border: none;
    padding: 10px;
    background-color: black;
    color: aliceblue;
}

.input-container button:hover {
    background-color: aliceblue;
    color: black;
    font-weight: bold;
}


.links-footer {
    padding: 40px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.other-links {
    display: flex;
    flex-wrap: wrap;
}

.left-links {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.right-links {
    display: flex;
    flex-direction: column;
    margin: 5px;
    flex-wrap: wrap;
}

.buttons-app {
    display: flex;
    flex-wrap: wrap;
}

.buttons-app a {
    background-color: aliceblue;
    padding: 5px;
}

.buttons-app img {
    width: 100px;
}

.visa img {
    width: 100px;
}

.rating-div .star {
    width: 20px;
    margin: 5px;
}

.open-menu {
    display: none;
}

.close-menu {
    cursor: pointer;
    display: none;
}

@media (max-width:500px){
    .home-header ul {
        background-color: rgb(77, 78, 78);
        flex-wrap: wrap;
        flex-direction: column;
        position: fixed;
        top: 1px;
        right: -200px;
        height: 100vh;
        padding-right: 5px;
        align-items: center;
    }

    
.home-header ul li a::before {
    background-color: rgb(156, 156, 156);
}
.home-header ul li a::after {
    background-color: whitesmoke;
}

    .open-menu {
        display: block;
        cursor: pointer;
    }

    .close-menu {
        display: block;
    }

    .input-container input {
        width: 200px;
    }

}

.banner-1 {
    text-align: center;
    padding: 20px 0 20px 0;
}

.banner-1 h1 , .banner-1 h5 {
    background-color: rgba(31, 143, 255, 0.8,);
    // color: black;
    padding: 5px;
}

.banner-img-container {
    height: 30vh;
    background: url('https://mobiletry.com/wp-content/uploads/2016/01/marketing-dla-malego-biznesu-sprawdzone-porady-970x323.png') no-repeat;
    background-position: center;
    background-size: cover;
    color: aliceblue;
}

.img-aboutText {
    display: flex;
    min-height: 60vh;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
}

.imgContainer {
    max-width: 400px;
    max-height: 40vh;
    margin-bottom: 10px;
}

.imgContainer img {
    width: 100%;
}

.aboutText {
    background-color: rgba(240, 248, 255,0.8);
    max-width: 300px;
    padding: 10px;
    margin-top: 40px;
    height: fit-content;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 1px 4px whitesmoke,-1px -1px 4px whitesmoke;
}

.download-app {
    text-align: center;
    margin-bottom: 60px;
}

.video {
    max-width: 500px;
    display: block;
    margin: 10px auto;
}
@media (max-width:500px){
    .video {
        max-width: 70%;
        display: block;
        margin: 10px auto;
    }

}

.card {
    margin: 5px auto;
}

/* -----------------------Future products---------------------- */

.future-products-section {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    transition: all 0.7s ease-in-out;
    align-items: center;
}